/*>=180px*/
body{
    background-color: bisque;
    padding: 0;
    /*animation-name: example;
    animation-duration: 2s;*/
    margin-right: -340px;
    margin-bottom: -110px;
}
 .animated{
     animation-name: required_animation;
     animation-duration: 1s;
 }
 @keyframes required_animation {
    from {background-color: red;}
    to {background-color: yellow;}
 }
/*@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }*/
body, form, input{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    text-align: center;
}
h1{
    font-family: 'Jomolhari', serif;
}
h2{
    font-family: 'McLaren', cursive;
}
input[type="text"]{
    border: 0;
    text-align: center;
}
#questions{
    width: 90%;
    margin: 0 auto;
    background-color: cadetblue;
}
.the_question{
    border: 1px solid black;
    margin-top: 25px;
    display: none;
}
#questions_bar{
    width: 90%;
    height: 25px;
    margin: 25px auto;
    background-color: brown;
    clear: both;
}
.question{
    width: 4.5%;
    height: 25px;
    float: left;
    background-color: burlywood;
}
.m-l{
    margin-left: 2.75%;
}
.answ{
    background-color: chartreuse;
}
.not_answ{
    background-color: cornsilk;
}
#finish{
    display: block;
    margin: 0 auto;
}
.color_st{
    display: table;
}
#legend span{
    font-size: 0.7em;
    display: table-cell;
    text-align: center;
}
.status_question{
    width: 33%;
    float: left;
}
#actual_q{
    background-color: chartreuse;
}
#visited_q{
    background-color:rgb(255, 187, 51);
}
#answered_q{
    background-color: rgb(78, 186, 83);
}
@media screen and (max-width: 280px) {
    input{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    input[type="text"]{
        width: 90%;
        margin: 20px 5%;
    }
    input[type="submit"]{
        margin: 20px auto;
        width: 50%;
        display: block;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 590px) {
    input{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    input[type="text"]{
        width: 62%;
        margin: 20px 19%;
    }
    input[type="submit"]{
        margin: 20px auto;
        width: 40%;
        display: block;
    }
  }
  @media screen and (min-width: 590px) and (max-width: 900px) {
    input{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    input[type="text"]{
        width: 50%;
        margin: 20px 25%;
    }
    input[type="submit"]{
        margin: 20px auto;
        width: 25%;
        display: block;
    }
  }
  @media screen and (min-width: 900px) {
    input{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    input[type="text"]{
        width: 325px;
        margin: 20px auto;
        display: block;
    }
    input[type="submit"]{
        margin: 20px auto;
        width: 200px;
        display: block;
    }
  }